
body{
background-color:blueviolet;

}

#profile-image{
     border:2px dotted black;
}
.layout{

}
.layout{
    color: blue;
    font-family: cursive;


}

table tr:first-child{
    background-color:rgba(250, 250 , 250, 0.0)
}




